/* Choose Your Path Section */
.choose-path {
  padding: 30px 0;

  text-align: center;
  width: 100%;
}

.choose-path h2 {
  margin-bottom: 20px;
  color: rgb(39, 39, 39); /* Dark text */
  word-break: break-all;
}

.choose-path-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  column-gap: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.path-card {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;

  background-color: #f6f6f6;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  text-align: left;
  width: 100%;
  max-width: 800px; /* Smaller width */
  -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  justify-self: center;
  overflow: hidden;
}

.path-card .path-card-heading {
  background-color: #006de3;
  width: 100%;
  padding: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.path-card:nth-child(3) .path-card-heading {
  height: 100px;
}

.path-card .path-card-content {
  padding-right: 20px;
  padding-left: 20px;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  justify-self: center;
}

.path-card-content strong {
  font-weight: 600;
  color: #272727;
}

.path-card h3 {
  color: #fff; /* Dark text */
  align-self: center;
  text-align: center;
}

.path-card ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.path-card p {
  font-size: 1.6rem;
}

.path-card ul li {
  color: #006de3; /* Dark text */
  font-weight: 500;
  font-size: 1.4rem;
}
.path-card li:before {
  content: "✔"; /* Символ галочки */
  margin-right: 4px; /* Расстояние между галочкой и текстом */
  color: #006de3;
  opacity: 0.6;
}

.path-card .btn {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .choose-path {
    padding: 40px 0;
  }

  .choose-path h2 {
    margin-bottom: 30px;
  }

  .choose-path-grid {
    padding-left: 20px;
    padding-left: 20px;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: auto auto; /* Two rows */
    row-gap: 30px;
    column-gap: 10px;
  }
  .path-card {
    max-width: 500px;
    gap: 14px;
  }

  .path-card-heading {
    padding-bottom: 30px;
  }

  .path-card:nth-child(3) {
    grid-column: span 2; /* Center the third card */
    justify-self: center; /* Center horizontally */
    width: 600px;
    max-width: 600px; /* Adjust width */
  }
  .path-card:nth-child(3) .path-card-heading {
    background-color: rgb(0, 174, 239);
  }

  .path-card li:before {
    margin-right: 2px; /* Расстояние между галочкой и текстом */
  }

  .path-card .btn {
    margin-left: 0;
    margin-right: 0;
    width: fit-content;
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .choose-path {
    padding: 60px 0;
    row-gap: 0;
    column-gap: 20px;
  }
  .choose-path h2 {
    margin-bottom: 40px;
  }
  .choose-path-grid {
    padding: 0;
  }

  .path-card:hover {
    -webkit-transform: scale(1.02) translateZ(10px);
    -moz-transform: scale(1.02) translateZ(10px);
    transform: scale(1.05) translateZ(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
}

/* Testimonials Section */

.testimonial-highlight {
  font-size: 1.4rem;
  font-weight: 600;
}
.testimonials {
  background: #fff; /* White background */
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.testimonials h2 {
  margin-bottom: 20px;
  color: rgb(39, 39, 39); /* Dark text */
}

/* Stats Section */
.stats {
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.stats-grid {
  background: #f6f6f6;
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  justify-content: space-around;
  padding: 20px 0; /* Adds padding inside the section to make gaps visible */
  width: 80%;
  margin: 0 auto;
}

.stat-number {
  font-size: 1.6rem;
  font-weight: bold;
  color: #006de3;
  display: block;
}

.stat-description {
  font-size: 1rem;
  color: #272727;
  display: block;
  opacity: 0.8;
  margin-top: 10px; /* Gap between number and description */
}

.stat-number-1 {
  grid-column: 1;
  grid-row: 1;
} /* First row, first column */
.stat-number-2 {
  grid-column: 2;
  grid-row: 1;
} /* First row, second column */
.stat-number-3 {
  grid-column: 3;
  grid-row: 1;
} /* First row, third column */
.stat-description-1 {
  grid-column: 1;
  grid-row: 2;
} /* Second row, first column */
.stat-description-2 {
  grid-column: 2;
  grid-row: 2;
} /* Second row, second column */
.stat-description-3 {
  grid-column: 3;
  grid-row: 2;
} /* Second row, third column */

@media (min-width: 768px) {
  .stats-grid {
    gap: 8px;
  }
  .stat-number {
    font-size: 2.5rem;
  }

  .stat-description {
    font-size: 1.4rem;
  }
}

.testimonials-grid {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.testimonial-card {
  background: rgb(246, 246, 246); /* Gray background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.testimonial-card .testimonial-heading {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-card .testimonial-content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.testimonial-card .testimonial-footer {
}

.testimonial-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-card h3 {
  margin-bottom: 10px;
}

.testimonial-card .testimonial-text {
  font-size: 1.6rem;
  text-indent: 20px;
}

.testimonial-card .highlight {
  color: #006de3; /* Lighter shade of blue for highlights */
  font-size: 1.2;
}

.testimonial-card .btn {
}

@media (min-width: 769px) {
  .testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .testimonials h2 {
    margin-bottom: 30px;
  }
  .testimonial-card .btn {
    width: fit-content;
    align-self: center;
  }
}
@media (min-width: 1200px) {
  .testimonials {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .testimonials h2 {
    margin-bottom: 40px;
  }
}

/* Next Big Crypto Move Section */
.next-move {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.next-move h2 {
  color: rgb(39, 39, 39); /* Dark text */
  text-align: center;
}
.next-move .next-move-text {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.next-move strong {
  font-weight: 600;
  color: #272727;
}

.next-move-subtitle {
  text-indent: 20px;
}

.next-move .next-move-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.event-card {
  background: #f6f6f6; /* White background */
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.next-move .event-card h3 {
  color: rgb(39, 39, 39); /* Dark text */
  align-self: center;
  text-align: center;
}

.next-move .event-card-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.next-move .event-card-image {
  display: none;
  width: 30%;
  height: 100%;
}
.next-move .event-card-image img {
  width: 100%;
  height: 100%;
}

.next-move .event-card p {
}

.next-move .event-card .highlight {
  color: #006de3; /* Lighter shade of blue for highlights */
}

.next-move .event-card ul {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.next-move .event-card li {
  padding-left: 20px;
  color: rgb(39, 39, 39); /* Dark text */
  position: relative;
}

.next-move .event-card li:before {
  content: "✔"; /* Символ галочки */
  margin-right: 4px; /* Расстояние между галочкой и текстом */

  opacity: 0.6;
}

.next-move h4 {
  text-align: center;
}

.next-move .ready {
  margin-top: 15px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;
}

.next-move .event-card .btn {
  margin-top: 20px;
  width: 100%;
  align-self: center;
}

.next-move .ready p {
  text-indent: 20px;
}

.next-move .ready ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.next-move .ready ul li:before {
  content: "✔"; /* Символ галочки */
  margin-right: 4px; /* Расстояние между галочкой и текстом */
  opacity: 0.6;
}

@media (min-width: 768px) {
  .next-move h2 {
    margin-bottom: 20px;
  }

  .next-move .event-card {
    max-width: 1200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 800px;
    align-self: center;
  }

  .next-move .event-card-image {
    display: block;
  }
  .next-move .event-card li:before {
    margin-right: 8px; /* Расстояние между галочкой и текстом */
  }

  .next-move .ready ul li:before {
    margin-right: 8px; /* Расстояние между галочкой и текстом */
  }

  .next-move .event-card .btn {
    width: fit-content;
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .next-move .event-card {
    max-width: 1400px;
    width: 900px;
  }

  .next-move .event-card li:before {
    margin-right: 10px; /* Расстояние между галочкой и текстом */
  }
  .next-move .ready ul li:before {
    margin-right: 10px; /* Расстояние между галочкой и текстом */
  }
}

.next-move .ready .btn {
  margin-top: 20px;
}

/* Contact Us Section */
.contact-us {
  padding: 20px 4px;
  background: rgb(246, 246, 246); /* Gray background */

  width: 100%;
  border-bottom: 2px solid #d8d7d7;
}

.contact-us .contact-us-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us h2 {
  margin-bottom: 20px;
  color: rgb(39, 39, 39); /* Dark text */
}

.contact-us p {
  margin-bottom: 10px;
  color: rgb(39, 39, 39); /* Dark text */
  word-wrap: break-word;
}

.contact-us .access-links {
  display: flex;
  gap: 10px;
  align-items: center;
}
.contact-us .telegramm {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #006de3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.contact-us .telegramm-img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.contact-us .telegramm svg {
  color: #fff;
}
.contact-us .btn {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .contact-us p {
    margin-bottom: 20px;
  }
  .contact-us .btn {
    margin-top: 20px;
  }
}
