/* FAQ Section */
.faq-root {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.faq-heading {
  margin-top: 30px;
  margin-bottom: 20px;
}

.faq-subtitle {
  margin-bottom: 10px;
  text-align: center;
  max-width: 90%;
}

.faq-section {
  width: 100%;
  padding: 20px 10px;
}
.faq-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1100px;
  align-items: center;
  margin: 0 auto;
}

.accordion-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.accordion-content {
  display: none;
}

.accordion-btn {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: #001276; /* Button color */
  border-radius: 50%; /* Makes the button round */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.accordion-btn::before,
.accordion-btn::after {
  content: "";
  position: absolute;
  background-color: white;
}

.accordion-btn::before {
  width: 2px; /* Thickness of the horizontal line */
  height: 50%; /* Length of the horizontal line */
}

.accordion-btn::after {
  width: 50%; /* Length of the vertical line */
  height: 2px; /* Thickness of the vertical line */
}
.accordion-btn-text {
  color: #001276;
  text-decoration: underline;
  margin-right: 4px;
}
.accordion-btn-arrow {
  color: #001276;
  display: inline-block;
  transform: rotate(225deg);
}
.faq-highlight {
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
}

.faq-highlight::before {
  content: "•"; /* Unicode for bullet point */
  font-size: 16px; /* Adjust size */
  color: black; /* Dark color */
  margin-right: 4px;
}

.faq-item {
  width: 100%;
  padding: 20px;
  overflow: hidden;
  border: 2px solid #f6f6f6;
  border-radius: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faq-item strong {
  font-weight: 600;
  color: #272727;
}

.faq-item h4 {
  margin: 20px;
  font-weight: 600;
}

.faq-item .faq-item-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faq-item p {
}

.faq-item .highlight {
  font-weight: bold;
}

.faq-item .btn {
  margin-top: 20px;
  align-self: center;
  width: 100%;
}
.faq-list {
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.faq-list:not(:first-child) {
  margin-top: 10px;
}
.faq-item .faq-list {
  gap: 18px;
}
.faq-inner-list {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .faq-section {
    padding-bottom: 40px;
    gap: 40px;
  }

  .faq-heading {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .faq-subtitle {
    margin-bottom: 40px;
  }

  .faq-highlight {
    font-size: 1.6rem;
  }

  .faq-item h3 {
    margin-bottom: 10px;
  }
}
@media (min-width: 1100px) {
  .faq-item .btn {
    width: fit-content;
  }
}

@media (min-width: 1200px) {
}
