/* Hero Section */
.hero {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff; /* White background */
  overflow: hidden;
  width: 100%;
}

.hero .image {
  background-image: url("../assets/images/golden-bitcoin-cryptocurrency.jpg"); /* Fallback for older browsers */
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}

@supports (
  background-image: url("../assets/images/golden-bitcoin-cryptocurrency.webp")
) {
  .hero .image {
    background-image: url("../assets/images/golden-bitcoin-cryptocurrency.webp"); /* WebP for modern browsers */
  }
}

.hero .text {
  width: 100%;
  background: rgb(0, 18, 118); /* Dark blue background */
  padding: 20px;
  color: #fff; /* White text */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.hero h1 {
  margin-bottom: 20px;
  color: #fff; /* White for headline */
}

.hero p {
  color: #fff;
  font-size: 1.8rem;
}

.hero .btn {
  margin-top: 20px;
  background: #fff; /* White background */
  color: rgb(0, 18, 118); /* Dark blue text */
  align-self: center;
}

.hero .btn:hover {
  background: rgb(0, 18, 118); /* Dark blue background on hover */
  color: #fff; /* White text on hover */
}
@media (min-width: 768px) {
  .hero {
    margin-top: 40px;
  }

  .hero .text {
    gap: 20px;
    padding: 30px;
  }
}
@media (min-width: 1200px) {
  .hero .text {
    padding: 40px;
  }
}
