/* Hero Section with Background Image */
.hero-secrets {
  display: flex;
  flex-direction: column;
}

.hero-secrets .container {
  position: relative;
  z-index: 1;
}
.hero-secrets-text {
  background: rgb(0, 18, 118);
  padding: 20px;
  color: #fff; /* White text */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.hero-secrets h1 {
  margin-bottom: 20px;
  color: #fff; /* White for headline */
}

.hero-secrets p {
  font-size: 1.8rem;
  color: #fff;
}

.hero-secrets .btn {
  margin-top: 20px;
}

.hero-section-images {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1200px;
}
.hero-image-item {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 33.3%;
}

.hero-image-item-1 {
  background-image: url("../assets/images/persons/512px-Warren_Buffett_at_the_2015_SelectUSA_Investment_Summit.jpg");
}

.hero-image-item-2 {
  background-image: url("../assets/images/persons/256px-Cathie_Wood_ARK_Invest_Photo.jpg");
}

.hero-image-item-3 {
  background-image: url("../assets/images/persons/1024px-Michael_Saylor_Keynote_Address.jpg");
}

@media (min-width: 768px) {
  .hero-secrets {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .hero-secrets .text {
    gap: 20px;
    padding: 30px;
  }

  .hero-section-images {
    flex-direction: row;
    width: 100%;
    height: 400px;
  }
  .hero-image-item {
    width: 33.3%;
    background-size: cover;
    background-position: center;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .hero-secrets .text {
    padding: 40px;
  }
}
