/* Hero Section with Background Image */
.root {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* hero-secrets Section */

.hero-secrets {
  width: 100%;
  height: 400px;
  background-image: url("../assets/images/3d-abstract-cyber-particles-background-with-flowing-dots.jpg");
  background-size: cover;
  background-position: center;

  padding: 40px;
}
.secrets-text-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.secrets-text {
  width: 100%;
  height: 100%;
  flex: 1;
}

.hero-secrets-slogan {
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: #ffff;
}
.hero-secrets-subtitle {
  text-align: center;
  color: #ffff;
}
@media (min-width: 768px) {
  .hero-secrets {
    height: 400px;
    padding-left: 50px;
    padding-top: 50px;
  }

  .secrets-text-content {
    width: 600px;
  }

  .hero-secrets-slogan {
    text-align: left;
    font-size: 40px;
  }
  .hero-secrets-subtitle {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .hero-secrets {
    height: 500px;
    padding-left: 60px;
  }
  .secrets-text-content {
    width: 800px;
  }
  .hero-secrets-slogan {
    font-size: 7.2rem;
  }
}
/* Geading Section */
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-heading {
  margin-bottom: 20px;
}
.heading-subtitle {
  text-align: center;
  max-width: 90%;
}

/* secrets-persons Section */

.secrets-persons-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  height: 1200px;
}
.secrets-image-item {
  width: 80%;
  height: 33.3%;
}
.secrets-image-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .secrets-persons-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    height: 300px;
  }

  .secrets-image-item {
    width: 33.3%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .secrets-persons-grid {
    height: 460px;
  }
}

@media (min-width: 1200px) {
  .secrets-image-item {
    width: 360px;
    height: 400px;
  }
}

.about {
  height: 300px;
  display: flex;
}

.about-content {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-text {
  flex: 1;
}

.about-img {
  display: none;
}
.about-subtitle {
  text-align: center;
}

.about h2 {
  margin-bottom: 20px;
  text-align: center;
}

.about-img {
  display: none;
}
.about-img img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .about {
    height: 460px;
  }
  .about-content {
    width: 50%;
  }
  .about h2 {
    text-align: left;
  }
  .about-content a {
    align-self: flex-start;
  }
  .about-img {
    display: block;
    width: 50%;
    height: 100%;
  }
  .about-subtitle {
    text-align: left;
  }
}
