@import url("variables.css");

.courses-root {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

/* Hero. Section */
.hero-course {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  height: 400px;
  background-color: #001276;
  background-image: url("../assets/images/background_image.jpg");
  background-size: cover;
  background-position: center;
}

.hero-course-img {
  display: none;
}
.hero-course-text {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.hero-course-text h1 {
  color: var(--text-color-light);
}
.hero-course-text p {
  max-width: 80%;
  color: var(--text-color-light);
}
.hero-course-img img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .hero-course {
    height: 500px;
    padding-top: 50px;
  }
  .hero-course-text {
    width: 600px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .hero-course-text h1 {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .hero-course {
    padding-top: 182px;
    height: 750px;
  }
  .hero-course-text {
    width: 700px;
  }
}

/* Trust Section */
.trust {
  width: 100%;
}

.trust-hero {
  width: 100%;
  height: 600px;
  background-image: url("../assets/images/second-background.jpg");
  background-size: cover;
  background-position: center;
}

.trust-hero-text {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.trust-hero-text h1 {
  color: var(--text-color-light);
}
.trust-hero-text p {
  max-width: 80%;
  color: var(--text-color-light);
}

.trust-advantages-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

@media (min-width: 768px) {
  .trust-hero {
    height: 1600px;
    padding-top: 95px;
  }

  .trust-hero-text {
    width: 50%;
    align-items: flex-start;

    padding: 0;
  }

  .trust-hero-text h1 {
    text-align: left;
  }
}

.trust-advantages {
  margin-top: 40px;
}

.trust-advantages-card {
  padding: 20px;
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0 4px 12px 0 rgba(237, 241, 245, 1);
  -moz-box-shadow: 0 4px 12px 0 rgba(237, 241, 245, 1);
  box-shadow: 0 4px 12px 0 rgba(237, 241, 245, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.trust-advantages-card-text {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0;
}

@media (min-width: 1200px) {
  .trust-hero {
  }
  .trust-hero-text {
    width: 700px;
  }

  .trust-advantages-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

/* Stats Section */
.stats {
  background-color: var(--background-color);
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.stats h2 {
  color: var(--text-color-light);
  font-size: 5rem;
  margin-bottom: 60px;
}

.stats-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 0; /* Adds padding inside the section to make gaps visible */
  width: 100%;
  margin: 0 auto;
}

.stats-item {
  background-color: #fff;
  padding: 40px;
}

.stat-number {
  font-size: 1.6rem;
  font-weight: bold;
  color: #006de3;
  display: block;
}

.stat-description {
  font-size: 1rem;
  color: #272727;
  display: block;
  opacity: 0.8;
  margin-top: 10px; /* Gap between number and description */
}

@media (min-width: 768px) {
  .stats-grid {
    gap: 8px;
  }
  .stat-number {
    font-size: 2.5rem;
  }

  .stat-description {
    font-size: 1.4rem;
  }
}

/* Choose Your Path Section */
.choose-path {
  text-align: center;
  width: 100%;
  background-color: rgba(0, 48, 100, 1);
}

.choose-path .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-path h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: var(--text-color-light);
  word-break: break-all;
  margin-top: 40px;
  max-width: 90%;
}

.choose-path-subtitle {
  color: #fff;
  margin-bottom: 30px;
}

.choose-path-title {
  font-size: 3rem;
  margin-bottom: 30px;
  color: var(--text-color-light);
}

.choose-path-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  column-gap: 0;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.path-card {
  position: relative;
  align-self: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #ffff;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  text-align: left;
  width: 100%;

  -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: hidden;
}

.path-card .path-card-content {
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  justify-self: center;
  margin-bottom: 20px;
}

.path-card-pricing {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 12px;
}

.path-card-subtitle {
  color: #272727;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.path-card-pricing span:first-child {
  margin-right: 10px;
  color: var(--primary-color);
  font-size: 6rem;
}

.path-card-premium .path-card-pricing span:first-child {
  color: var(--accent-color);
}

.path-card-pricing span:last-child {
  text-decoration: line-through;
  font-weight: 400;
  color: #3d5e83;
  font-size: 2.8rem;
  transform: translateY(-10px);
}

.path-card-content strong {
  font-weight: 600;
  color: #272727;
}

.path-card-title {
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.path-card-title h3 {
  color: var(--text-color-light);
  text-align: center;
  margin-bottom: 10px;
}
.path-card-title p {
  color: var(--text-color-light);
  font-size: 1.8rem;
  text-align: center;
}

.path-card-title-premium {
  padding: 0 20px 20px 20px;
}

.path-card-bage {
  background-color: var(--accent-color);
  color: var(--text-color-light);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.path-card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.path-card .path-card-list .start-flex span:first-child {
  color: var(--text-color-light);
  background-color: var(--background-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  flex-shrink: 0;
}

.path-card .path-card-list li {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.375;
  color: var(--primary-color);
}

.path-card-premium .path-card-list li {
  color: var(--accent-color);
}

.path-card:not(.path-card-premium) .btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.path-card:not(.path-card-premium) .btn:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.path-card-item-excluded {
  opacity: 0.3;
}

.path-card .btn {
}

@media (min-width: 768px) {
  .choose-path {
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
  }

  .choose-path h2 {
    font-size: 4rem;
    margin-bottom: 30px;
    margin-top: 60px;
  }

  .choose-path-title {
    font-size: 4.2rem;
    margin-bottom: 40px;
  }

  .path-card .btn {
    margin-left: 10px;
    margin-right: 10px;
  }

  .choose-path {
    row-gap: 0;
    column-gap: 20px;
  }

  .path-card-popular {
    transform: translateY(-20px);
  }

  .path-card:hover {
    -webkit-transform: scale(1.02) translateZ(10px);
    -moz-transform: scale(1.02) translateZ(10px);
    transform: scale(1.02) translateZ(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  .path-card-popular:hover {
    -webkit-transform: scale(1.02) translateY(-10px);
    -moz-transform: scale(1.02) translateY(-10px);
    transform: scale(1.02) translateY(-10px);
  }
  .choose-path-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: auto auto; /* Two rows */
    row-gap: 30px;
    column-gap: 10px;
  }
  .path-card {
    max-width: 500px;
    min-width: 200px;
    place-self: center;
  }
  .path-card:nth-child(3) {
    grid-column: span 2; /* Center the third card */
    justify-self: center; /* Center horizontally */
  }
}

@media (min-width: 1200px) {
  .choose-path-grid {
    grid-template-columns: repeat(3, 1fr); /* Two columns */
    grid-template-rows: auto auto; /* Two rows */
    column-gap: 20px;
  }
  .path-card:nth-child(3) {
    grid-column: auto; /* Center the third card */
    justify-self: center; /* Center horizontally */
  }

  .choose-path h2 {
    font-size: 5.6rem;
    margin-bottom: 30px;
    margin-top: 100px;
  }

  .choose-path-title {
    font-size: 5.6rem;
    margin-bottom: 60px;
  }
}

/* Money-back risk-free */
.choose-path-risk {
  width: 100%;
}

.choose-path-risk h3 {
  color: var(--text-color-light);
  margin-bottom: 20px;
}

.choose-path-risk p {
  color: var(--text-color-light);
  margin-bottom: 40px;
}

.choose-path-risk img {
  width: 115px;
  height: 115px;
}

@media (min-width: 768px) {
  .choose-path-risk {
    width: 508px;
  }
}

/* Path-card-timer */

.choose-path-footer {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}
.path-card-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path-card-timer-title {
  display: flex;
  align-items: center;
  color: var(--text-color-light);
  gap: 10px;
  margin-bottom: 20px;
}

.path-card-timer h3 {
  color: var(--text-color-light);
}

.path-card-timer-subtitle {
  margin-bottom: 40px;
  color: var(--text-color-light);
}
.path-card-timer-list {
  display: flex;
  gap: 20px;
}
.path-card-timer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.path-card-timer-item .path-card-timer-time span {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  color: var(--text-color-light);
}
.path-card-timer-comment {
  color: var(--text-color-light);
}
@media (min-width: 1200px) {
  .choose-path-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60px;
  }
}
/* Trust-Image Section */

.trust-image {
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
.trust-image-img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .trust-image {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

/* Testimonials Section */

.testimonial-highlight {
  font-size: 1.4rem;
  font-weight: 600;
}
.testimonials {
  background: #fff; /* White background */

  width: 100%;
  text-align: center;
}

.testimonials h2 {
  margin-bottom: 20px;
  color: rgb(39, 39, 39); /* Dark text */
  font-size: 2.8rem;
}

.testimonials-grid {
  display: -webkit-grid;
  display: -ms-grid;
  display: grid;
  width: 100%;
  gap: 20px;
}
.testimonials-container {
  position: relative;
  width: 100%;
  width: auto; /* or let Swiper manage it */
  max-width: 100%;
}
.swiper {
  position: relative;
  width: 80%;
  padding: 40px 0;
  overflow: hidden; /* Make sure overflow is hidden */
}

.swiper-slide {
  box-sizing: border-box;
  width: auto; /* or let Swiper manage it */
  max-width: 100%;
}

.my-swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 8px;

  top: calc(50% - 60px);
  left: 25px;
  width: 20px;
  height: 60px;
  z-index: 20;
}

.my-swiper-button-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 8px;
  top: calc(50% - 60px);
  right: 30px;
  width: 20px;
  height: 60px;
  z-index: 20;
}

@media (min-width: 768px) {
  .my-swiper-button-prev {
    width: 60px;
  }
  .my-swiper-button-next {
    width: 60px;
  }
}

.testimonial-card {
  background: rgb(246, 246, 246); /* Gray background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.testimonial-card .testimonial-heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
}

.testimonial-card .testimonial-heading-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.testimonial-card .testimonial-heading-info p {
  font-weight: 600;
}

.testimonial-heading-foto {
  display: flex;
  align-items: center;

  gap: 10px;
}

.testimonial-card .testimonial-content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
}

.testimonial-card .testimonial-footer {
  text-align: left;
}

.testimonial-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-card h3 {
  margin-bottom: 10px;
}

.testimonial-card .testimonial-text {
  font-size: 1.6rem;
}

.testimonial-card .highlight {
  color: #006de3; /* Lighter shade of blue for highlights */
  font-size: 1.2;
}

@media (min-width: 769px) {
  .testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .testimonials h2 {
    margin-bottom: 30px;
  }
  .testimonial-card .btn {
    width: fit-content;
    align-self: center;
  }
}
@media (min-width: 1200px) {
  .testimonials {
  }
  .testimonials h2 {
    margin-bottom: 40px;
    font-size: 5rem;
  }
}

/* Why-us Section */

.why-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.why-us-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.why-us-heading {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.why-us-heading-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.why-us-features {
  width: 100%;
}

.why-us-features-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 30px;
}

.why-us-features-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 4px 12px 0 rgba(237, 241, 245, 1);
  -moz-box-shadow: 0 4px 12px 0 rgba(237, 241, 245, 1);
  box-shadow: 0 4px 12px 0 rgba(237, 241, 245, 1);
}

.why-us-features-item h4 {
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}

.why-us-features-item p {
}

@media (min-width: 768px) {
  .why-us {
    padding-left: 0;
    padding-right: 0;
    gap: 40px;
  }

  .why-us-heading {
    align-self: flex-start;
  }
  .why-us-content {
    flex-direction: row;
    gap: 50px;
  }

  .why-us h2 {
    font-size: 5rem;
  }

  .why-us-heading {
    width: 40%;
    align-items: flex-start;
    padding: 0;
    gap: 30px;
  }
  .why-us-features {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .why-us-features {
  }
}

/* Next Big Crypto Move Section */
.next-move {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #003064;
}

.next-move h2 {
  color: var(--text-color-light);
  text-align: center;
  max-width: 90%;
}
.next-move .next-move-text {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.next-move-subtitle {
  color: var(--text-color-light);
  text-indent: 20px;
}
.next-move-subtitle strong {
  font-weight: 600;
}

.next-move .next-move-cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  column-gap: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.event-card {
  background: #f6f6f6; /* White background */
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.next-move .event-card h3 {
  color: rgb(39, 39, 39); /* Dark text */
  align-self: center;
  text-align: center;
}

.next-move .event-card-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.next-move .event-card p {
  font-size: 1.6rem;
}

.next-move .event-card ul {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.next-move .event-card li {
  display: flex;
  gap: 10px;
  padding-left: 20px;
  color: rgb(39, 39, 39); /* Dark text */
  position: relative;
}
.next-move .event-card li span {
  font-size: 1.4rem;
}

.next-move h4 {
  text-align: center;
  color: var(--secondary-color);
}

.next-move .ready {
  margin-top: 15px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;
}

.next-move .event-card .btn {
  margin-top: 20px;
  width: 100%;
  align-self: center;
}

.next-move .ready p,
.next-move .ready li,
.next-move .ready h5 {
  color: var(--secondary-color);
}

.next-move .ready ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

@media (min-width: 868px) {
  .next-move h2 {
    margin-bottom: 20px;
  }
  .next-move .next-move-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    row-gap: 30px;
    column-gap: 10px;
  }
  .next-move .event-card {
    width: 400px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    align-self: center;
  }

  .next-move .event-card:nth-child(3) {
    grid-column: span 2; /* Center the third card */
    justify-self: center; /* Center horizontally */
  }

  .next-move .event-card-image {
    display: block;
  }

  .next-move .event-card .btn {
    width: fit-content;
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .next-move .next-move-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .next-move .event-card {
    width: 350px;
  }

  .next-move .event-card:nth-child(3) {
    grid-column: auto; /* Center the third card */ /* Center horizontally */
  }

  .next-move .event-card li:before {
    margin-right: 10px; /* Расстояние между галочкой и текстом */
  }
  .next-move .ready ul li:before {
    margin-right: 10px; /* Расстояние между галочкой и текстом */
  }
}

.next-move .ready .btn {
  margin-top: 20px;
  align-self: center;
}

.questions {
  width: 100%;
}

.questions .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions h2 {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
}
.questions-content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.question-title {
  display: flex;
  background-color: #343749;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.question-title button {
  width: 36px;
  height: 36px;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.question-title button svg {
  transform: rotate(135deg);
}

.question-title h3 {
  color: var(--text-color-light);
}

.question-content {
  padding: 20px;
  -webkit-box-shadow: 0 4px 12px 0 rgba(237, 241, 245, 1);
  -moz-box-shadow: 0 4px 12px 0 rgba(237, 241, 245, 1);
  box-shadow: 0 4px 12px 0 rgba(237, 241, 245, 1);
}

@media (min-width: 768px) {
  .questions h2 {
    font-size: 5rem;
    margin-top: 70px;
    margin-bottom: 60px;
  }
  .questions-content {
    padding-left: 0;
    padding-right: 0;
  }
}
