@import url("variables.css");

/* General Styles */
html {
  font-size: 62.6%;
  scroll-behavior: smooth; /* Enables smooth scrolling */
  -webkit-scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  -webkit-font-smoothing: antialiased; /*for better font rendering on macOS*/
  font-family: "Arimo", sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0;
  color: var(--text-color-dark); /* Dark text for light background */
  background: #fff; /* White background */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-overflow-scrolling: touch;
}
@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.8rem;
  }
}

* {
  box-sizing: border-box;
}

/* Headings */
h1 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 2.8rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  color: rgb(39, 39, 39); /* Dark text */
}

h2 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 2.2rem;
  line-height: 1, 6;
  font-weight: 600;
  color: rgb(39, 39, 39); /* Dark text */
}

h3 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: rgb(39, 39, 39); /* Dark text */
}

h4 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 500;
  color: rgb(39, 39, 39); /* Dark text */
}

h5 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.1;
  font-weight: 500;
  color: rgb(39, 39, 39); /* Dark text */
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
    line-height: 1.6;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 1.1;
  }
  h3 {
    font-size: 2.4rem;
    line-height: 1.1;
  }
  h3 {
    font-size: 2.2rem;
    line-height: 1.6;
    font-weight: 600;
  }
  h4 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4.2rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.6rem;
    font-family: 700;
  }
  h4 {
    font-size: 2rem;
    font-weight: 700;
  }
  h5 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
  }
}

p {
  margin: 0;
  color: rgb(39, 39, 39); /* Dark text */
  letter-spacing: 0.02rem;
}

a {
  text-decoration: none;
  color: #006de3; /* Blue for links */
  letter-spacing: 0.02rem;
}
a,
button {
  outline: none;
  -webkit-tap-highlight-color: transparent; /*for touch devices*/
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  letter-spacing: -0.025rem;
}

.container {
  width: 100%;
}
section {
  margin: 0;
  padding: 0;
  scroll-margin-top: 72px;
}
@media (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

.btn {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 6px 16px;
  background-color: var(--accent-color); /* White background */
  color: var(--text-color-light); /* Blue text */
  border: 2px solid var(--accent-color); /* Blue border */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background 0.3s ease, color 0.3s ease;
  -moz-transition: background 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-accent {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .btn {
    padding: 10px 20px;
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .btn {
    font-size: 2.2rem;
    padding: 10px 20px;
  }
}

.btn:hover {
  box-shadow: 0px 0px 5px var(--accent-color); /* Neon green glow */
  transform: scale(1.05); /* Slightly enlarges the button */
  background-color: rgb(8, 87, 64);
}

/* This class for ul lists with two spans */
.start-flex {
  display: flex;
  align-items: flex-start;
}

.start-flex span:first-child {
  margin-right: 6px;
}

/* Emphasized Text */

.highlight {
  font-weight: 600;
}

.section {
  width: 100%;
}

.section .container {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .section .container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Header */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff; /* White background */
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
}

header .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8px;
}
header .logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

header .logo span {
  font-size: 1.6rem;
  font-weight: bold;
  color: #006de3; /* Blue for logo */
}

header .logo .logo-icon {
  width: 40px;
  height: 40px;
}
/* Burger-menu */
header .nav-burger {
  position: relative;
}

header .burger {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 32px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
}

header .nav-burger .burger-menu {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  padding: 20px;
  width: 200px;
  left: -160px;
  top: 45px;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

header .nav-burger .burger-opened ~ div {
  height: auto;
  max-height: 100vh;
  opacity: 1;
}

header .nav-burger .burger-menu a {
  color: #006de3; /* Blue for nav links */
  font-weight: 500;
  font-size: 1.6rem;
}

header .nav-burger .burger-menu a:first-child {
  font-weight: 600;
}

header .burger span {
  width: 100%;
  height: 2px;
  background-color: #006de3;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  margin-bottom: 6px;
}

header .burger:hover {
  cursor: pointer;
}

header .burger-opened span:nth-child(2) {
  visibility: hidden;
}

header .burger-opened span:first-child {
  transform: translateY(9px) rotate(45deg);
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
}

header .burger-opened span:last-child {
  transform: translateY(-7px) rotate(-45deg);
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -moz-transform: translateY(-7px) rotate(-45deg);
}

header .burger span:first-child {
  transition: transform 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
}
header .burger span:last-child {
  transition: transform 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  margin-bottom: 0;
}

header .nav-links {
  display: none;
}

@media (min-width: 870px) {
  header .logo span {
    font-size: 2rem;
  }
  header .nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  header .nav-burger {
    display: none;
  }
  header .nav-links a {
    color: #006de3; /* Blue for nav links */
    font-weight: 500;
  }
  header .nav-links a:last-child {
    color: var(--text-color-light);
  }

  header .nav-links a:not(:last-child):hover {
    color: rgb(0, 18, 118); /* Darker blue on hover */
  }

  header .nav-links .active-link {
    color: rgb(0, 18, 118); /* Darker blue on hover */
  }
}

@media (min-width: 1200px) {
  header .logo {
    gap: 10px;
  }
  header .logo span {
    font-size: 2.5rem;
  }
  header .nav-links {
    gap: 20px;
  }
}

/* Footer */
footer {
  background-color: rgb(246, 246, 246); /* Gray background */
  color: rgb(39, 39, 39); /* Dark text */
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

footer a {
  color: #006de3; /* Blue for links */
}
